<table class="table-bordered">
	<% if @anagrams %>
		<% if @anagrams.length > 0 %>
			<% @anagrams.each do |anagram| %>
				<tr><td><%= anagram.text %></td></tr>
			<% end %>
		<% else %>	
			<p>There are no anagrams for that word</p>	
		<% end %>
	<% else %>	
		<p>That is not a valid word</p>	
	<% end %>
</table>