<div class="container">
	<%= form_tag("/anagrams/find", method: "post", remote: true) do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag("term") %>
	  <%= submit_tag("Search") %>
	<% end %>
	<ol></ol>
</div>	